body {
    background-color: black; /* Define o fundo como preto */
    color: white; /* Define a cor do texto como branco */
    font-size: 10em; /* Define o tamanho da fonte como grande */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock {
    font-family: Arial, sans-serif; /* Define a família da fonte */
    border: 5px solid white; /* Adiciona uma borda branca */
    padding: 10px; /* Adiciona um espaço interno para a borda */
    border-radius: 10%; /* Torna a borda redonda */
}
